<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .name {
    cursor: pointer;
    margin-left: 10px;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #new-rooms {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #all-rooms {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #new-rooms:hover,
  .toolbar #all-rooms:hover {
    opacity: 0.8;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="name" [routerLink]="['/']">PipeDrawer</span>
    <div class="spacer"></div>
    <a aria-label="Новая комната" [routerLink]="['/draw']" title="Новая комната">
      <svg id="new-rooms" height="16" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 1 1-1 0v-1h-1a.5.5 0 1 1 0-1h1v-1a.5.5 0 0 1 1 0Z" fill="#fff"/>
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" fill="#fff"/>
        <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" fill="#fff"/>
      </svg>
    </a>
    <a aria-label="Все комнаты" [routerLink]="['/rooms']" title="Все комнаты">
      <svg id="all-rooms" height="16" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff">
        <path d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.51 2.51 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354L7.207 1Z" fill="#fff"/>
        <path d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708L8.793 2Z" fill="#fff"/>
      </svg>
    </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>