.canvas {
    position: absolute;
    margin-top: 20px;
    width: 97.7vw;
    height: 2001px;
}

.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.info {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    font-size: 12px;
    pointer-events: none;
}